body {
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: 100vh;
  grid-gap: 60px;
  justify-content: center;
}

.donut--wrapper {
  align-self: center;
  border-bottom: 2px solid #b0b0b0;
  position: relative;
}

.donut--chart{
  text-align: center;
  position: relative;
}

.canvas {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.donut--info {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.donut--info__title {
  text-transform: uppercase;
  color: #b0b0b0;
  font-size: 20px;
  margin: 3px 0;
}

.donut--info__sum {
  font-size: 24px;
  margin: 0;
}

.donut--data {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.donut--data__device {
  padding-bottom: 10px;
  font-size: 15px;
}

.donut--data__device:nth-child(1) {
  grid-column: 2 / 3;
  text-align: right;
}

.donut--data__device:nth-child(2) {
  grid-column: 1 / 2;
  grid-row-start: 1;
}

.donut--data__device div:nth-child(1) {
  font-weight: 600;
}

.donut--data__device-numbers {
  margin-top: 5px;
}

.donut--data__device-relative {
  margin-right: 10px;
}

.donut--data__device-absolute {
  color: #b0b0b0;
  margin-top: 5px;
}