body {
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-gap: 60px;
  justify-content: center;
  margin: 60px 0;
}

.donut--wrapper {
  border-bottom: 2px solid #b0b0b0;
}

.donut--data {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.donut--data__device {
  padding-bottom: 10px;
  font-size: 15px;
}

.donut--data__device:nth-child(2) {
  text-align: right;
}

.donut--data__device-absolute {
  color: #b0b0b0;
  margin-top: 5px;
}